@import "bootstrap/dist/css/bootstrap.min.css";
@import url("../src/font.css");

/* Prevent horizontal scroll */
html, body {
  overflow-x: hidden;
  /* margin: 0; */
  /* padding: 0; */
  /* width: 100%; */
}

*{
  font-family: 'Montserrat-SemiBold' !important;
  line-height: 28px;
  /* box-sizing: border-box; */
  /* max-width: 100%; */
}
